@font-face {
	font-family: 'absolute-empire';
	src: url('absolute-empire.woff2') format('woff2');
	font-weight: normal;
	font-display: swap;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.webp body {
	background-image: url('./img/background.webp')
}

.no-webp body {
	background-image: url('./img/background.jpg')
}

content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding:  2em;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 2em;
	font-family: 'absolute-empire'
}

h1, p {
	text-align: center;
}

#logo {
	width: 30em;
	margin: 3em auto 3em auto;
}

.sm-container {
	text-align: center;
	display: block;
}

.sm-container a {
	display: inline-block;
	height: 3em;
	width: auto;
	margin-left: 1em;
	margin-right: 1em;
}

.sm-container img {
	height: 100%;
	width: auto;
}

@media screen and (max-device-width: 1200px) {
	h1 {
		font-size: 4em;
	}
	p {
		font-size: 3em;
	}

	body {
		background-position: center;
	}

	.sm-container a {
		height: 6em;
	}
}